* {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  margin: 0;
}
.body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 0px 150px;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;
    padding: 48px 150px;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

.left-title {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 0 1 auto;
}

h1 {   
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 8px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    flex: 0 1 auto;
    width: 100px;
    border-radius: 8px;
    padding: 3px;
}

.small-pictures-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}
 
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 32px;
    
}

.card {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;

}

#quotee {
    text-align: right;
    width:500px;
    font-size:36px;
    font-weight:bold;
}

#quote {
    font-size: 36px;
    font-style:italic;
    width: 500px;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
}

.signup {
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    padding: 64px;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

#button2 {
    border: 2px solid white;
}